{% extends "layout.html" %}
{% set title = "IOTA2: Infrastructure pour l'Occupation des sols par Traitement Automatique Incorporant les Orfeo Toolbox Applications" %}
{% block content %}
<div class="container-fluid iota-landing-bg">
  <h1>{{ _('Welcome to iota2 main page') }}</h1>
</div>
<div class="overflow-hidden mx-2 text-center flex-fill">
  <a href="http://www.gnu.org/licenses/agpl-3.0"  aria-label="license">
    <img src="https://img.shields.io/badge/License-AGPL%20v3-blue.svg" class="iota-index-img" style="width:initial;max-width:initial" alt="license">
  </a>
  <a href="https://www.python.org/downloads/release/python-360/"  aria-label="python">
    <img src="https://img.shields.io/badge/python-3.6-blue.svg" class="iota-index-img" style="width:initial;max-width:initial" alt="python">
  </a>
  <a href="https://framagit.org/iota2-project/iota2/-/tree/develop"  aria-label="code">
    <img src="https://img.shields.io/badge/Status-In%20development-orange" class="iota-index-img" style="width:initial;max-width:initial" alt="code">
  </a>
  
</div>

<div class="container iota-landing-container pt-3 body" role="main">
  <div class="row no-gutters">
    <div class="col-md-4 mb-3 px-md-2 iota-px-xl-4">
      <div class="card iota-card h-100">
        <div class="card-body">
          <a><h4 class="iota-card-title card-title">Land cover mapping</h4></a>
          <p class="card-text">This is the classification module for land cover mapping.</p>
          <p class="card-text"><strong>Getting started:</strong>
			<a href="i2_classification_tutorial.html">Tutorial</a> </br>
			<strong>Going further:</strong></br>
			<a href="i2_classification_builder.html">Land cover mapping parameters</a></br>
			<a href="autoContext.html">Using auto-context classification</a></br>
			<a href="external_features.html">How to use custom external features?</a></br>
        </div>
        <div class="overflow-hidden mx-2 text-center flex-fill">
          <img src="_static/images/OSO_2019.png" class="iota-index-img" style="width:initial;max-width:initial">
          </a>
        </div>
         <!-- <a href="user_builder_classif.html#classification" class="iota-btn-primary btn text-white btn-block" role="button">Examples</a> -->
      </div>
    </div>
	<div class="col-md-4 mb-3 px-md-2 iota-px-xl-4">
      <div class="card h-100">
        <div class="card-body">
          <a><h4 class="iota-card-title card-title">Spectral Indices Maps</h4></a>
          <p class="card-text">This iota2 module produces features maps.</p>
          <p class="card-text">According to user specification, features are computed using reflectance data and the iota2 multi-tiles scheduler.</p>
          <p class="card-text">This mode use user provided python code to produce various kind of indices.</p>
          <p class="card-text"><strong>Getting started:</strong> with the 
			<a href="i2_features_map_tutorial.html">tutorial</a></br>
			<strong>Going further:</strong></br>
			<a href="i2_features_map_builder.html">Features map configuration parameters</a></br>
			<a href="external_features.html">How to use custom external features?</a></br>
          
        </div>
        <!--<div class="overflow-hidden mx-2 text-center flex-fill">
          <img src="_static/images/todo.png" class="iota-index-img" style="width:initial;max-width:initial" alt="Classifier comparison">
          </a>
        </div>-->
          <!--<a href="builder_classif.html" class="iota-btn-primary btn text-white btn-block" role="button">Examples</a>-->
      </div>
    </div>
	<div class="col-md-4 mb-3 px-md-2 iota-px-xl-4">
      <div class="card h-100">
        <div class="card-body">
          <a><h4 class="iota-card-title card-title">Large scale vectorization</h4></a>
          <p class="card-text">This iota2 module produces a vectorized land cover map.</p>
          <p class="card-text">Zonal Statistics are computed and added to geometry in the produced map.</p>
          <p class="card-text"><strong>Getting started:</strong> with the 
			<a href="index.html">tutorial</a></br>
			<strong>Going further:</strong></br>
			<a href="i2_vectorization_builder.html">Vectorization configuration parameters</a></br>
          
        </div>
        <div class="overflow-hidden mx-2 text-center flex-fill">
          <img src="_static/images/oso_2_light.png" class="iota-index-img" style="width:initial;max-width:initial" alt="Classifier comparison">
          </a>
        </div>
          <!--<a href="builder_classif.html" class="iota-btn-primary btn text-white btn-block" role="button">Examples</a>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid iota-landing-bg">
  <h1>{{ _('Interact with the iota2 community') }}</h1>
</div>
<div class="container iota-landing-container pt-3 body" role="main">
  <div class="row no-gutters">
    <div class="col-md-4 mb-3 px-md-2 iota-px-xl-4">
      <div class="card iota-card h-100">
        <div class="card-body">
          <a><h4 class="iota-card-title card-title">Contact the community</h4></a>
		  <p class="card-text">iota2 is still under development. To see the progress, discuss with the development team or view the code sources go to <a href="https://framagit.org/iota2-project/iota2/">https://framagit.org/iota2-project/iota2/</a></p></br>
		  <p class="card-text">iota2 is a project in constant development. The documentation is therefore sometimes insufficient to succeed in using iota2. These articles are here to help a user interact with the development team and eventually contribute directly to the improvement of iota2 or its documentation.</p></br>
          <p class="card-text"><strong>Tips:</strong></br>
			<a href="contribute_to_iota2.html#asking-for-help">Asking for help ?</a></br>
			<a href="contribute_to_iota2.html#creating-a-new-issue">A bug was discovered ?</a></br>
		</div>
        <div class="card-body">
          <a href="user_builder_classif.html#classification"><h4 class="iota-card-title card-title">How to contributes</h4></a>
          <p class="card-text">There are no small contributions</p>
          <p class="card-text"><strong>Main topics:</strong></br>
			<a href="contribute_to_iota2.html#contribute-to-documentation">Fix bug in documentation</a></br>
			<a href="contribute_to_iota2.html#ask-for-features">Ask for features</a></br>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="container-fluid iota-landing-bg">
  <h1>{{ _('Documentation for developers') }}</h1>
</div>

<div class="container iota-landing-container pt-3 body" role="main">
  <div class="row no-gutters">
    <div class="col-md-4 mb-3 px-md-2 iota-px-xl-4">
      <div class="card iota-card h-100">
        <div class="card-body">
          <a><h4 class="iota-card-title card-title">Understand how iota2 is built</h4></a>
          <p class="card-text">These pages explain how iota2 handled time series and multi tilling images.</p>
          <p class="card-text"><strong>Scheduler:</strong></br>
			<a href="iota2_workflow.html">iota2 workflow</a></br>
			<a href="i2_scheduling.html">iota2 scheduling</a></br>
		</div>
        <div class="card-body">
          <a href="user_builder_classif.html#classification"><h4 class="iota-card-title card-title">Development tools</h4></a>
          <p class="card-text">These pages would help a developer to contribute to iota2..</p>
          <p class="card-text"><strong>Main topics:</strong></br>
			<a href="develop_reco.html">Development recomendations</a></br>
			<a href="all_parameters.html">Configuration parameters</a></br>
			<a href="api.html">API</a>
		</div>
	  </div>
	</div>
  </div>
</div>
  
<div class="container iota-landing-container pt-3 body" role="main">
  <p class="card-text">iota2 is still under development. To see the progress, discuss with the development team or view the code sources go to <a href="https://framagit.org/iota2-project/iota2/">https://framagit.org/iota2-project/iota2/</a></p>
</div>
{% endblock %}
