<!-- 
    
this file contains the code for interactive tree 

it should only be included once per rst file, at the end
TODO: split this into css and javascript files
and include them instead of having them inside the html

it searches the content in `interactive-tree-source` blocks
and puts apps in `interactive-tree-app` blocks
which must be included for each source block using `interactive-tree-root.html`

-->

<style>
    /* ===== styling used for interactive tree app ===== */

    /* more compact layout if no javascript */
    .interactive-tree-source dt,
    .interactive-tree-source dl,
    .interactive-tree-source dd {
        margin: 0;
    }

    .interactive-tree-app {
        font-family: monospace;
        margin-bottom: 2em;
    }

    .dir {
        cursor: pointer;
    }

    .tree-title {
        font-weight: bold;
    }

    .tree-short-desc {
        font-style: italic;
    }

    .tree-short-desc {
        font-weight: lighter;
    }

    .tree-long-desc {
        visibility: hidden;
        position: absolute;
        left: 1000px;
        width: 500px;
        background-color: rgba(255, 255, 255, 0.9);
        min-height: 4em;
        padding: 0.2em 1em 1em 1em;
        border-top: solid 2px red;
    }

    .tree-long-desc.active {
        visibility: visible;
    }
</style>

<!-- ===== vuejs templates used for interactive tree app ===== -->

<!-- tree template -->
<script type="x-template" id="tree">
<div class="tree">
    <div v-for="(elt, index) in children">
        <elt :elt="elt" :level="level" :lasthist="lasthist" :last="index == children.length-1"></elt>
    </div>
</div>
</script>

<!-- element template -->
<script type="x-template" id="elt">
<div class="elt">
    <div v-on:click="toggleExpand()" v-on:mouseover="isActive = true" v-on:mouseleave="isActive = false">
        <span v-html="prefix"></span>
        <span class="tree-title" v-bind:class="{ open: isOpen, dir: isDir(), file: !isDir()}">{{stripedTitle()}}</span>
        <span class="tree-short-desc" v-if="elt.short_description">{{elt.short_description}}</span>
        <span class="tree-long-desc" v-bind:class="{active: isActive}" v-html="elt.long_description" v-if="elt.long_description"></span>
    </div>
    <tree v-if="isOpen" :children="elt.treechildren" :level="level + 1" :lasthist="[...lasthist, last]"></tree>
</div>
</script>

<!-- development version, includes helpful console warnings -->
<!-- FIXME for production change for https://cdn.jsdelivr.net/npm/vue@2 local copy -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    // logs to console
    console.log("script included")

    // ===== manage html data =====

    /// search the interactive trees and returns their root unordered list
    function get_root_uls() {
        // gets the blocks marked by rst `.. container:: interactive-tree`
        var htmltrees = document.getElementsByClassName("interactive-tree-source")
        return [...htmltrees].map(function (elt) {
            // hides the original tree if javascript is activated
            elt.style.display = "none"
            // get the root unordered list
            return elt.children[0]
        })
    }

    /// returns the node as a javascript object
    // input: list item html element
    // output: javascript object as follows
    // {
    //     title: "title"
    //     short_description: "short description"
    //     long_description: "long description as html tree"
    //     treechildren: []
    // }
    // where children are a list of similar javascript objects or empty if leaf
    function li_as_tree(root) {
        var treechildren = []
        var node = root.children[0]
        switch (node.tagName) {
            case "P": // node without description or subfolders
                var p = node
                var title = p.textContent
                break
            case "DL": // node with description or subfolders
                var dl = node
                var dt = dl.children[0] // dt
                var dd = dl.children[1] // dd
                var title = dt.textContent
                var ddc = dd.children[0] // dd first child
                var dds = dd.children[1] // dd second child
                var ul = undefined
                switch (ddc.tagName) {
                    case "P": // short description
                        var p = ddc
                        var short_description = p.textContent
                        if (dds && dds.tagName == "UL") {
                            var ul = dds
                        }
                        break
                    case "DL": // long description
                        var dl = ddc
                        var dt = dl.children[0]
                        var dd = dl.children[1]
                        var short_description = dt.textContent
                        // var long_description = dd.children[0].innerText
                        var long_description = dd.children[0].innerHTML
                        if (dds && dds.tagName == "UL") {
                            var ul = dds
                        }
                        break
                    case "UL": // only children
                        var ul = ddc
                        break
                }
                if (ul) {
                    // console.log(ul)
                    var treechildren = [...ul.children].map(li_as_tree) // recursive call
                }
                break
        }
        return {
            // displayed as bold
            title: title,
            // display next to title
            short_description: short_description,
            // displayed only on mouseover, can contain html
            long_description: long_description,
            // children objects of this element
            treechildren: treechildren,
        }
    }

    // ===== define vuejs components =====

    // tree component
    Vue.component("tree", {
        template: "#tree",
        props: {
            // root node only used for root tree
            root_tree: Array,
            // children of a node. defaults to the parsed tree
            children: { type: Array, default: function () { return this.root_tree } },
            // level of the tree to pass down to elements
            level: { type: Number, default: 0 },
            // last for each level to pass down to elements
            lasthist: { type: Array, default: () => [] }
        }
    })
    // folder component
    Vue.component("elt", {
        template: "#elt",
        props: {
            elt: Object, // object parsed from sphinx-compiled rst file
            level: Number, // level in hierarchy
            last: Boolean, // last child of an element are displayed differently
            lasthist: Array, // last child at each level for display purpose
        },
        methods: {
            toggleExpand: function () {
                if (this.isDir()) {
                    this.isOpen = !this.isOpen
                }
            },
            isDir: function () {
                return this.elt.treechildren.length != 0
            },
            // use exclamation mark in title to determine if a folder should be displayed folded as default
            startsOpen: function () {
                return !this.elt.title.startsWith("!")
            },
            // strip the leading exclamation mark in title if exist
            stripedTitle: function () {
                return this.elt.title.replace("! ", "")
            }
        },
        computed: {
            // prefix function emulates a pure text tree
            // as outputed by `tree` command
            // using │ ├ └ ─ box drawing unicode characters
            prefix: function () {
                var tabulation = ""
                for (let i = 0; i < this.level; i++) {
                    let append = !this.lasthist[i] ? "│" + "&nbsp;".repeat(3) : "&nbsp;".repeat(4)
                    tabulation += append
                }
                "│&nbsp;&nbsp;&nbsp;".repeat(this.level)
                let sign = this.last ? "└── " : "├── "
                let arrow = this.arrow
                return tabulation + sign + arrow
            },
            // displays different arrow when dir is (un)folded
            arrow: function () {
                if (this.isDir()) {
                    if (this.isOpen) {
                        return "▾"
                    } else {
                        return "‣"
                    }
                }
                return ""
            },
        },
        // data bound to each elt component
        data: function () {
            return {
                isOpen: this.startsOpen(),
                isActive: false,
            }
        }
    })

    // ===== search and convert contents into vuejs app instances =====

    // get all trees unordered lists
    let root_uls = get_root_uls()
    // get all apps html nodes as an array
    let app_nodes = [...document.getElementsByClassName("interactive-tree-app")]
    // instantiate vue apps for each
    app_nodes.map(
        function (e, i) {
            // instantiate vue app
            new Vue({
                el: e,
                data: {
                    // convert the corresponding html to js object
                    root_tree: [...root_uls[i].children].map(li_as_tree)
                }
            })
        }
    )

</script>